bin
CMakeFiles
*.txt
!CMakeLists.txt
*.o
*.out
*.a
*.so
build/*
!/build/.gitkeep
/docs
.vscode
.idea
r-type_server
r-type_client

*.ppm
*.out
.tmp
compile_commands.json
.cache
*.log
vcpkg
vcpkg_installed/
.vs
out